@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-600: #7f56d9;
  --primary-500: #9e77ed;
  --primary-400: #b692f6;
  --primary-300: #d6bbfb;
  --primary-200: #e9d7fe;
  --primary-100: #f4ebff;
  --secondary-900: #101828;
  --secondary-800: #1d2939;
  --secondary-700: #344054;
  --secondary-600: #475467;
  --secondary-500: #667085;
  --secondary-400: #98a2b3;
  --secondary-300: #d0d5dd;
  --secondary-200: #eaecf0;
  --secondary-100: #f2f4f7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: inter;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/* Buttons */
.nav-btn {
  background-color: var(--primary-600);
  padding: 10px 16px;
  border: 1px solid var(--primary-600);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
    0px 0px 0px 4px var(--primary-100);
  border-radius: 8px;
  color: white;
}

header {
  height: 100vh;
  width: 100%;
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

nav .logo {
  width: 167px;
  height: 34.29px;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 25px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-900);
  text-decoration: none;
}
